.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

.item1{
    grid-column: 2;
    grid-row: 2;
}
.item2 {
    grid-column: 3;
    grid-row: 2;
}
.item3{
    grid-column: 4;
    grid-row: 2;
}
.item4 {
    grid-column: 5;
    grid-row: 2;
}
.item5 {
    grid-column: 13/15;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
    padding: 10px;
    z-index: 1;
}
.item6 {
    grid-column: 2/11;
    grid-row: 5/10;
    width: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item7 {
    grid-column: 6;
    grid-row: 6;
    color: black;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 40px;
    font-size: xx-large;
}
.item8 {
    grid-column: 9/13;
    grid-row: 5;
    color: white;
    font-size: large;
}
.item9 {
    grid-column: 8/-1;
    grid-row: 3/-1;
    background-color: #484848;
    color: white;
    z-index: 100;
}
.item10{
    grid-column: 11/16;
    grid-row: 7/9;
}
.item11{
    grid-column: 2/5;
    grid-row: 12;
}
.item12 {
    grid-column: 2/4;
    grid-row: 14/16;
}
.item13{
    grid-column: 4/6;
    grid-row: 14/16;
}
.item14{
    grid-column: 6/8;
    grid-row: 14/16;
}
.item15 {
    grid-column: 2/4;
    grid-row: 16/18;
}
.item16{
    grid-column: 4/6;
    grid-row: 16/18;
}
.item17{
    grid-column: 6/8;
    grid-row: 16/18;
}